<!--************************************************************************************************************************************
# Name: Abinash Singh Thagunna
# File Name: register.html
#*************************************************************************************************************************************-->
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Geneological Tree</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link href="{% static 'bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
     <script src="{% static 'bootstrap/js/jquery.js'  %}" type="text/javascript"></script>
     <script src="{% static 'bootstrap/js/bootstrap.min.js'  %}" type="text/javascript"></script>

    <style>
        #rcorners1 {
  border-radius: 15px 50px;
    background: #2e6da4;
    padding: 20px;
    width: 215px;
    height: auto;
    margin-left: 40%;
     margin-top: 10%;
}
    </style>
</head>
<body class="container" style="background: #269abc;">

<h3 style="text-align: center; margin-top: 5%">Welcome To Geneological Tree Application.Register Now!!!</h3>
<div id="rcorners1">
<p style="color: #fff;">It's always free!!! <a href="/register/" style="color: #FFF;;">Signup</a></p>
<form class="form-horizontal" method="post" action="." style="">{% csrf_token %}
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label" style="color: #fff;">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label" style="color: #fff;">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
<br>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger" >Signup</button>
        <a href="/" class="btn btn-success" >Login</a>
    </div>
</form>
</div>

<p class='alert alert-info alert-dismissable' style=" margin-top: 6%;"> Copyright &copy;2016 (Reeta Kunwar)  All rights  Reserved | Developed & Designed By: Reeta Kunwar</p>
</body>
</html>