{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Geneological Tree | {% block title %}{% endblock %}</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link href="{% static 'bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
 <script src="{% static 'bootstrap/js/jquery.js'  %}" type="text/javascript"></script>
 <script src="{% static 'bootstrap/js/bootstrap.min.js'  %}" type="text/javascript"></script>
</head>
<body>
<div id="nav">

{% if user.is_authenticated %}
    <a href="/home/"style="color: #fff;">Home</a> |
welcome {{ user.username }}
(<a href="/logout" style="color: #fff;">Logout</a>)
{% else %}
<a href="/" style="color: #fff;">Login</a> |
<a href="/register/" style="color: #fff;">Register</a>
{% endif %}
</div>
<h1>{% block head %}{% endblock %}</h1>
{% block content %}{% endblock %}


</body>
</html>